<!-- ============================================================== -->
			<!-- 						Topbar Start 							-->
			<!-- ============================================================== -->
			<div class="top-bar primary-top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            				
                            <div class="left-nav-toggle" >
                                <a  href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="left-nav-collapsed" >
                                <a  href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
                            </div>
                            
                            <ul class="list-inline top-right-nav">
                                
                                
                                
                                <li class="dropdown avtar-dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <img alt="" class="rounded-circle" src="/assets/img/avtar-2.png" width="30">
                                        Admin
                                    </a>
                                    <ul class="dropdown-menu top-dropdown">
                                        
                                        <li>
                                            <a class="dropdown-item" href="javascript:%20void(0);"><i class="icon-user"></i> Profile</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:%20void(0);"><i class="icon-settings"></i> Settings</a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="/admin/logout"><i class="icon-logout"></i> Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!--                        Topbar End                              -->
            <!-- ============================================================== -->