<footer class="main-footer">
    <div class="bg bg-image" style="background-image: url(images/background/bg-1.png)"></div>

    <div class="auto-container">
        <div class="upper-box">
            <div class="row" style="align-items: center;">
        
                <div class="contact-info logo-box col-lg-4 wow fadeInUp text-center">
                    <div class="logo"><a href="/"><img alt="Specterra Geotech" src="/images/logo.png"><noscript><img
                                src="images/logo.png" alt="Specterra Geotech"></noscript></a></div>
                </div>
        
                <div class="contact-info col-lg-4 wow fadeInRight">
                    <div class="inner-box">
                        <h4 class="title">Send Email</h4>
                        <div class="text"><a href="mailto:info@specterra.in">info@specterra.in</a></div>
                    </div>
                </div>
        
                <div class="contact-info col-lg-4 wow fadeInLeft" data-wow-delay="600ms">
                    <div class="inner-box">
                        <h4 class="title">Call Now</h4>
                        <div class="text">
                            <p>General Enquiry: <a href="tel:+919188330335">+91 9188330335</a></p>
                            <p>Management: <a href="tel:+919567700335">+91 9567700335</a></p>
                            <p>Service/Maintenance: 
                                <a href="tel:+918714599940">+91 8714599940</a>, 
                                <a href="tel:+918848636935">+91 8848636935</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="widgets-section">
        <div class="auto-container">
            <div class="row">

                <div class="footer-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-xl-7 col-lg-6 col-md-6">
                            <div class="footer-widget about-widget">
                                <h6 class="widget-title">About</h6>
                                <div class="text">Specterra Geotech specializes in geotechnical, geological, and environmental services, committed to sustainability and innovation for infrastructure development.</div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-6">
                            <div class="footer-widget">
                                <h6 class="widget-title">Explore</h6>
                                <ul class="user-links">
                                    
                                    <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                    <li><a href="/shipping-policy">Shipping Policy</a></li>
                                    <li><a href="/cancellation-and-refund-policy">Cancellation and Refund Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget contacts-widget">
                        <h6 class="widget-title">Contact</h6>
                        <div class="text">18/372J, Ramankeriyil Building, Chengalam South, Kottayam, Kerala, 686022</div>
                        <ul class="social-icon-two">
                            <li><a href="https://www.facebook.com/@specterrageotech/?mibextid=JRoKGi"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/specterra-geotech-private-limited/"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/specterra.in/profilecard/?igsh=MXZseW04MjNmZmlxOQ=="><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container">
                <div class="copyright-text">
                    <p>GSTIN: 32ABGCS7907Q1ZQ &nbsp;&nbsp; CIN: U41000KL2021PTC070741</p>
                    <p>&copy; 2024 Specterra Geotech Private Limited. All rights reserved. | <a href="https://keraladigitalpark.com">Develiped By Kerala Digital Park</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
