<div class="preloader"></div>

<header class="main-header header-style-one">
    <div class="header-lower">
        <div class="container-fluid">

            <div class="main-box" style="height: 75px;">
                <div class="logo-box">
                    <div class="logo"><a href="/">
                            <img alt="Specterra Geotech" title="Specterra Geotech" src="/images/logo.png"><noscript><img
                                    src="/images/logo.png" alt="Specterra Geotech" title="Specterra Geotech"></noscript>
                            
                        </a>
                    </div>
                </div>

                <div class="nav-outer">
                    <nav class="nav main-menu">
                        <ul class="navigation">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/services">Services</a></li>

                            <li><a href="/careers">Careers</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/contact-us">Contact</a></li>
                            <button style="padding: 25px 20px;background-color: transparent;"><a style="background-color: green;
                                color: white;
                                padding: 10px 12px;
                                border-radius: 10px;" href="/warrenty-registration">Warranty</a></button>

                            <% if (userId) { %>
                                <li><a href="/profile"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                                <% } else { %>
                                    <button style="padding: 25px 0px;background-color: transparent;"><a style="background-color: green;
                                        color: white;
                                        padding: 10px 12px;
                                        border-radius: 10px;
                                        text-decoration: none;" href="/login">Login</a></button>
                                    <% } %>

                        </ul>
                    </nav>
                </div>

                <div class="outer-box">
                    <div id="google_translate_element" style="display: contents; cursor: pointer;">
                        <i class="fa-solid fa-globe" onclick="googleTranslateElementInit()"></i>
                    </div>
                    <a href="tel:+919188330335" class="info-btn">
                        <i class="icon fa fa-phone"></i>
                        <small>Call Anytime</small>+91 9188330335
                    </a>

                    <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars" style="color: green;"></span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <nav class="menu-box">
            <div class="upper-box">
                <div class="nav-logo"><a href="index.html"><img alt="Specterra Geotech" title="Specterra Geotech"
                            src="/images/logo.png"><noscript><img src="/images/logo.png" alt="Specterra Geotech"
                                title="Specterra Geotech"></noscript></a></div>
                <div class="close-btn"><i class="icon fa fa-times"></i></div>
            </div>
            <ul class="navigation clearfix">

            </ul>
            <ul class="contact-list-one">
                <li>
                    <div class="contact-info-box">
                        <i class="icon lnr-icon-phone-handset"></i>
                        <span class="title">Call Now</span>
                        <a href="tel:+919188330335">+91 9188330335</a>
                    </div>
                </li>
                <li>
                    <div class="contact-info-box">
                        <span class="icon lnr-icon-envelope1"></span>
                        <span class="title">Send Email</span>
                        <a href="mailto:info@specterra.in">info@specterra.in</a>
                    </div>
                </li>
                <li>
                    <div class="contact-info-box">
                        <span class="icon lnr-icon-clock"></span>
                        <span class="title">Office Hours</span>
                        Mon - Sat 8:00 - 6:30, Sunday - CLOSED
                    </div>

                </li>
            </ul>
            <ul class="social-links">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>


    <div class="sticky-header">
        <div class="auto-container">
            <div class="inner-container">

                <div class="logo">
                    <a href="/" title="Specterra Geotech"><img alt="Specterra Geotech" title="Specterra Geotech"
                            src="/images/logo.png"><noscript><img src="/images/logo.png" alt="Specterra Geotech"
                                title="Specterra Geotech"></noscript></a>
                </div>

                <div class="nav-outer">
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation clearfix">

                            </ul>
                        </div>
                    </nav>
                    <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                </div>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en', // Your page's original language
            includedLanguages: 'ml,hi', // Translatable languages (Malayalam and Hindi)
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
</script>