
    <div class="page-wrapper">

        <%-include('../partials/userHeader')%>
        


        <section class="banner-section">
            <div class="banner-two-carousel owl-carousel owl-theme default-navs">
        
                <div class="slide-item">
                    <div class="bg-image" style="background-image: url(images/main-slider/geotech-banner1.jpg);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <span class="sub-title animate-1">Leading Geological & Environmental Services</span>
                            <h1 class="title animate-1">Innovative Solutions <br class="d-none d-lg-block" /> for Sustainable Development</h1>
                            <div class="btn-box animate-2">
                                <a href="#services" class="theme-btn btn-style-one hover-light"><span class="btn-title">Our Services</span></a>
                            </div>
                            <div class="banner-text animate-3">We provide expert geotechnical, hydrological, and environmental services for a sustainable future.</div>
                        </div>
                    </div>
                </div>
        
                <div class="slide-item">
                    <div class="bg-image" style="background-image: url(images/main-slider/geotech-banner2.jpg);"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <span class="sub-title animate-1">Specialized Water & Wastewater Solutions</span>
                            <h1 class="title animate-1">Advanced Water <br class="d-none d-lg-block" /> Management Services</h1>
                            <div class="btn-box animate-2">
                                <a href="#contact" class="theme-btn btn-style-one hover-light"><span class="btn-title">Contact Us</span></a>
                            </div>
                            <div class="banner-text animate-3">Expert services in water conservation, groundwater assessment, and wastewater treatment.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <section class="about-section-one">
            <div class="auto-container">
                <div class="row">
                    <!-- Content Column -->
                    <div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
                        <div class="inner-column">
                            <div class="sec-title">
                                <span class="sub-title">ABOUT US</span>
                                <h2 class="text-split">Committed to Sustainable Development</h2>
                                <div class="text">
                                    Specterra Geotech Private Limited is a leader in geological, geotechnical, and environmental solutions. With years of experience, we provide advanced and reliable services that support sustainable infrastructure and environmental conservation across various industries.
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="info-box">
                                    <h5 class="title">High-Quality Environmental Solutions</h5>
                                    <a href="#services" class="read-more">More <i class="fa fa-long-arrow-alt-right"></i></a>
                                </div>
                                <div class="about-block-one">
                                    <i class="icon flaticon-access"></i>
                                    <h5 class="title">Geological & Geotechnical Services</h5>
                                    <div class="text">We specialize in thorough site investigations and ground condition assessments for safe and efficient infrastructure development.</div>
                                </div>
                                <div class="about-block-one">
                                    <i class="icon flaticon-reputation"></i>
                                    <h5 class="title">Water & Wastewater Treatment</h5>
                                    <div class="text">Our innovative water and wastewater treatment solutions ensure safe water management, conservation, and recycling.</div>
                                </div>
                            </div>
                            <div class="btm-box">
                                <a href="#contact" class="theme-btn btn-style-two"><span class="btn-title">Discover More</span></a>
                            </div>
                        </div>
                    </div>
        
                    <!-- Image Column -->
                    <div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
                        <div class="inner-column wow fadeInLeft">
                            <figure class="image-1 overlay-anim wow fadeInUp"><img alt="Geotech Survey" src="images/resource/about1-1.jpg"><noscript><img src="images/resource/about1-1.jpg" alt="Geotech Survey"></noscript></figure>
                            <figure class="image-2 overlay-anim wow fadeInRight"><img alt="Environmental Solutions" src="images/resource/about1-2.jpg"><noscript><img src="images/resource/about1-2.jpg" alt="Environmental Solutions"></noscript></figure>
                            <div class="experience bounce-y">
                                <img alt class="icon" src="images/resource/about1-3.jpg"><noscript><img src="images/resource/about1-3.jpg" alt="" class="icon"></noscript>
                                <strong>200+</strong> Successful Projects
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <section class="services-section">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <span class="sub-title">SERVICES WE PROVIDE</span>
                    <h2 class="text-split">Innovative Solutions for <br /> Infrastructure and Environment</h2>
                </div>
                <div class="row">
        
                    <div class="service-block col-lg-4 col-md-6 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#service-details"><img alt="Geological Survey" src="images/resource/geological-survey.jpg"><noscript><img src="images/resource/geological-survey.jpg" alt="Geological Survey"></noscript></a></figure>
                                
                            </div>
                            <div class="content-box">
                                <h5 class="title"><a href="#service-details">Geological & Geotechnical Services</a></h5>
                                <div class="text">Comprehensive site investigations, soil and rock testing, and geotechnical consultancy for safe infrastructure development.</div>
                                <a href="#service-details" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="service-block col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#service-details"><img alt="Water & Wastewater Treatment" src="images/resource/water-treatment2.jpg"><noscript><img src="images/resource/water-treatment.jpg" alt="Water & Wastewater Treatment"></noscript></a></figure>
                                
                            </div>
                            <div class="content-box">
                                <h5 class="title"><a href="#service-details">Water & Wastewater Treatment</a></h5>
                                <div class="text">Custom water management, wastewater treatment, and water quality solutions for industrial and commercial sectors.</div>
                                <a href="#service-details" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="service-block col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#service-details"><img alt="Environmental Consultancy" src="images/resource/environmental-consultancy.jpg"><noscript><img src="images/resource/environmental-consultancy.jpg" alt="Environmental Consultancy"></noscript></a></figure>
                                
                            </div>
                            <div class="content-box">
                                <h5 class="title"><a href="#service-details">Environmental Consultancy</a></h5>
                                <div class="text">Expert guidance on environmental impact assessments, pollution control, and sustainable development strategies.</div>
                                <a href="#service-details" class="read-more">read More <i class="fa fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row justify-content-center mt-40 wow fadeInUp">
                    <div class="col-lg-8">
                        <div class="bottom-text d-sm-flex align-items-center justify-content-between">
                            <p class="mb-3 mb-sm-0">Need specialized geotechnical or environmental solutions?<span class="color3 ps-2">Contact us now</span></p>
                            <a href="#contact" class="theme-btn btn-style-two small"><span class="btn-title">Get in Touch</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <section class="offer-section">
            <div class="auto-container">
                <div class="row">
        
                    <div class="content-column col-lg-6 col-md-12">
                        <div class="inner-column">
                            <div class="sec-title light">
                                <span class="sub-title">Why Choose Specterra</span>
                                <h2 class="text-split">Innovative Solutions, Proven Success</h2>
                                <div class="text">At Specterra Geotech, we pride ourselves on delivering cutting-edge geological, geotechnical, and environmental solutions that drive sustainable development and infrastructure success.</div>
                            </div>
                            <div class="info-box">
                                <i class="icon flaticon-campaign"></i>
                                <h5 class="title">We approach every project<br class="d-none d-sm-block" /> with expertise and integrity</h5>
                            </div>
                            <ul class="list-style-two">
                                <li><i class="fas fa-circle-right"></i> Decades of experience in geotechnical and environmental services</li>
                                <li><i class="fas fa-circle-right"></i> Customized solutions tailored to project needs</li>
                                <li><i class="fas fa-circle-right"></i> Commitment to safety, sustainability, and innovation</li>
                            </ul>
                        </div>
                    </div>
        
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image-box">
                                <figure class="image"><img alt src="images/resource/image-3.jpg"><noscript><img src="images/resource/image-3.jpg" alt=""></noscript></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <section class="testimonial-section">
            <div class="bg bg-pattern-5"></div>
            <div class="auto-container">
                <div class="row">
                    <div class="title-column col-xl-5 col-lg-4 col-md-12">
                        <div class="sec-title mb-40">
                            <span class="sub-title">Client Feedback</span>
                            <h2 class="text-split">What Our Clients Are Saying</h2>
                        </div>
                        <div class="info-box mb-4 mb-lg-0">
                            <i class="icon flaticon-reputation"></i>
                            <div class="text">We’re trusted by more than <br /> 200 satisfied clients and partners across various industries</div>
                        </div>
                    </div>
                    <div class="testimonial-column col-xl-7 col-lg-8 col-md-12">
                        <div class="carousel-outer">
                            <div class="testimonial-carousel owl-carousel owl-theme default-navs">
        
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img alt="Client Testimonial 1" src="images/resource/testi-1.jpg"><noscript><img src="images/resource/testi-1.jpg" alt="Client Testimonial 1"></noscript></figure>
                                            <div class="info-box">
                                                <h4 class="name">Sarah Albert</h4>
                                                <span class="designation"> Manager, Infrastructure</span>
                                            </div>
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                        </div>
                                        <div class="text">Specterra Geotech provided us with an exceptional level of geotechnical expertise. Their innovative solutions helped us complete our project safely and on time.</div>
                                    </div>
                                </div>
        
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img alt="Client Testimonial 2" src="images/resource/testi-2.jpg"><noscript><img src="images/resource/testi-2.jpg" alt="Client Testimonial 2"></noscript></figure>
                                            <div class="info-box">
                                                <h4 class="name">Sunil Gupta</h4>
                                                <span class="designation">Environmental Consultant</span>
                                            </div>
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                        </div>
                                        <div class="text">The team at Specterra exceeded our expectations with their environmental impact assessments. They were professional and delivered quality results.</div>
                                    </div>
                                </div>
        
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img alt="Client Testimonial 3" src="images/resource/testi-3.jpg"><noscript><img src="images/resource/testi-3.jpg" alt="Client Testimonial 3"></noscript></figure>
                                            <div class="info-box">
                                                <h4 class="name">Anjali Menon</h4>
                                                <span class="designation">Director,  Constructions</span>
                                            </div>
                                            <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                        </div>
                                        <div class="text">Their water management solutions were crucial to the success of our project. Specterra is highly reliable and delivers innovative results.</div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        


        


        <section class="fun-fact-section">
            <div class="bg bg-image" style="background-image: url(images/background/1.jpg)"></div>
            <div class="auto-container">
                <div class="row align-items-start justify-content-between">
                    <div class="col-lg-8">
                        <div class="sec-title light">
                            <h2 class="title text-split">Hundreds of customers <br />trust in our company</h2>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="btn-box text-lg-end">
                            <a href="page-about.html" class="theme-btn btn-style-two"><span class="btn-title">Getting
                                    Start</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="team-section pt-0">
            <div class="auto-container">
                <div class="fact-counter">
                    <div class="row">

                        <div class="counter-block col-lg-3 col-sm-6 wow fadeInUp">
                            <div class="inner">
                                <i class="icon flaticon-repair"></i>
                                <div class="count-box"><span class="count-text" data-speed="3000"
                                        data-stop="180">0</span></div>
                                <h6 class="counter-title">Project Completed</h6>
                            </div>
                        </div>

                        <div class="counter-block col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="inner">
                                <i class="icon flaticon-instructor"></i>
                                <div class="count-box"><span class="count-text" data-speed="3000"
                                        data-stop="750">0</span></div>
                                <h6 class="counter-title">Satisfied Clients</h6>
                            </div>
                        </div>

                        <div class="counter-block col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="600ms">
                            <div class="inner">
                                <i class="icon flaticon-design"></i>
                                <div class="count-box"><span class="count-text" data-speed="3000"
                                        data-stop="1050">0</span></div>
                                <h6 class="counter-title">Repeat Customers</h6>
                            </div>
                        </div>

                        <div class="counter-block col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="900ms">
                            <div class="inner">
                                <i class="icon flaticon-front-end"></i>
                                <div class="count-box"><span class="count-text" data-speed="3000"
                                        data-stop="280">0</span></div>
                                <h6 class="counter-title">Product delivery</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-title text-center">
                    <span class="sub-title">Team Members</span>
                    <h2 class="text-split">The amazing team behind <br />our company</h2>
                </div>
                <div class="row">

                    <div class="team-block-two col-lg-4 col-md-6 wow fadeInUp">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="page-team-details.html"><img alt
                                            src="images/resource/team-1.jpg"><noscript><img
                                                src="images/resource/team-1.jpg" alt=""></noscript></a></figure>
                                <div class="social-links">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                                <span class="share-icon fa fa-plus"></span>
                            </div>
                            <div class="info-box">
                                <h4 class="name"><a href="page-team-details.html">Ronald Richards</a></h4>
                                <span class="designation">Finance expert</span>
                            </div>
                        </div>
                    </div>

                    <div class="team-block-two col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="page-team-details.html"><img alt
                                            src="images/resource/team-2.jpg"><noscript><img
                                                src="images/resource/team-2.jpg" alt=""></noscript></a></figure>
                                <div class="social-links">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                                <span class="share-icon fa fa-plus"></span>
                            </div>
                            <div class="info-box">
                                <h4 class="name"><a href="page-team-details.html">Jerome Bell</a></h4>
                                <span class="designation">Hr specialist</span>
                            </div>
                        </div>
                    </div>

                    <div class="team-block-two col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="page-team-details.html"><img alt
                                            src="images/resource/team-3.jpg"><noscript><img
                                                src="images/resource/team-3.jpg" alt=""></noscript></a></figure>
                                <div class="social-links">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                                <span class="share-icon fa fa-plus"></span>
                            </div>
                            <div class="info-box">
                                <h4 class="name"><a href="page-team-details.html">Leslie Alexander</a></h4>
                                <span class="designation">Economy manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        


        


        <section class="faqs-section style-two">
            <div class="auto-container">
                <div class="row">

                    <div class="faq-column col-lg-6 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <div class="sec-title">
                                <span class="sub-title">Questions & answers</span>
                                <h2 class="text-split">Frequently Asked Questions</h2>
                            </div>
                            <ul class="accordion-box wow fadeInRight">
                    
                                <li class="accordion block">
                                    <div class="acc-btn">What types of geotechnical services do you offer?
                                        <div class="icon fa fa-angle-right"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We offer comprehensive geotechnical services, including site investigations, soil and rock testing, and foundation design for safe and efficient infrastructure development.</div>
                                        </div>
                                    </div>
                                </li>
                    
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">How can your water and wastewater solutions help my project?
                                        <div class="icon fa fa-angle-right"></div>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">Our water and wastewater solutions ensure sustainable water management and compliance with environmental regulations, helping to reduce operational costs and improve water efficiency.</div>
                                        </div>
                                    </div>
                                </li>
                    
                                <li class="accordion block">
                                    <div class="acc-btn">What industries do you serve?
                                        <div class="icon fa fa-angle-right"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We serve a variety of industries including construction, environmental consultancy, manufacturing, and municipalities, offering tailored solutions to meet their geotechnical, hydrological, and environmental needs.</div>
                                        </div>
                                    </div>
                                </li>
                    
                                <li class="accordion block">
                                    <div class="acc-btn">How can I request a consultation or service?
                                        <div class="icon fa fa-angle-right"></div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">You can request a consultation by contacting us via phone or email, or by filling out the contact form on our website. We will get back to you promptly to discuss your project needs.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    

                    <div class="form-column col-lg-6 col-md-12 col-sm-12">
                        <div class="form-bg" style="background-image: url(images/background/3.jpg)"></div>
                        <div class="inner-column">

                            <div class="contact-form wow fadeInLeft">
                                <span class="sub-title">SUBMIT INQUIRY</span>
                                <h2>Contact us</h2>

                                <form method="post" action="https://html.kodesolution.com/2024/enfinix-html/get"
                                    id="contact-form">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <input type="text" name="full_name" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <input type="text" name="Email" placeholder="Email Address" required>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input type="text" name="Phone" placeholder="Your Phone" required>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <textarea name="message" placeholder="Write a Message" required></textarea>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <button class="theme-btn btn-style-two" type="submit"
                                                name="submit-form"><span class="btn-title">Send a
                                                    message</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%-include('../partials/userFooter')%>
        

    </div>

    